.PersonalPanel {
    display: block;
    height: auto;
    min-height: 100px;
    width: 25%;
    background-color: #222120;
    box-sizing: border-box;
    padding: 80px 50px 50px 50px;

    }
.PersonalPanel img{
    display: block;
    width: 246px;
    height: 316px;
    margin: 0 auto;
    border-radius: 6px;
}
.PersonalInfo {

}
.PersonalInfo h2{
    text-align: center;
    color: #00a3d9;
}
.PersonalInfo p{
    margin: 10px auto;
    padding: 0;
    color: #00587f;
    text-align: center;
}

@media only screen and (max-width: 1279px) {
    .PersonalPanel {
        display: block;
        min-height: 100px;
        width: 100%;
        background-color: #222120;
        box-sizing: border-box;
        padding: 80px 50px 50px 50px;

    }
    .PersonalPanel img{
        display: block;
        width: 246px;
        height: 316px;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 6px;
    }
    .PersonalInfo {

    }
    .PersonalInfo h2{
        text-align: center;
        color: #00a3d9;
    }
    .PersonalInfo p{
        margin: 10px auto;
        padding: 0;
        color: #00587f;
        text-align: center;
    }

}