.project {
    display: block;
    height: auto;
    width: 80%;
    margin: 20px auto;
    background-color: #1f1e1d;
    padding: 20px;
}
header {
    display: flex;
    width: 100%;
    height: auto;
}
header h3 {
    width: 50%;
    float: left;
    margin: 0;
    padding: 20px;

}
header h3 a {
    color: #b7b6b5;
    /*font-style: normal;*/
}
header h3 a:hover {
    /*text-decoration: none;*/
    color: #00c26b;
    /*font-style: normal;*/
}
header a {
    font-style: italic;
    width: 50%;
    text-align: right;
    color: #00587f;
}

.description {
    padding-left: 50px;
    color: #a09f9e;
    width: 60%;
}
.technologies {
    display: flex;
    justify-content: flex-end;
    gap: 10px 30px;

}
.tech {

}
.tech img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.tech p {
    margin: 5px auto;
    text-align: center;
    color: #00c26b;
}