.projects {
    display: block;
    width: 75%;
    float: right;
}
.projects h3 {
    padding-left: 9%;
    font-style: italic;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #00c26b;
}
header h3 {
    margin: 0 !important;
    padding-left: 20px !important;

}

@media only screen and (max-width: 1279px) {
    .projects {
        display: block;
        width: 100%;
        float: none !important;
    }
    .projects h3 {
        font-style: italic;
        color: #00c26b;
        box-sizing: border-box;
        padding-left: 5%;
        margin: 0 !important;
    }
    header h3 {
        margin: 0 !important;
        padding-left: 20px !important;

    }
}