.header {
  margin: 0;
  padding: 0;
  width: 75%;
  float: right;
  background-color: #21201f;
}
.header h2 {
  margin: 0;
  padding: 20px 15%;
  color: #00a3d9;
}
body {
  margin: 0;
  padding: 0;
  background-color: #3c3c3c;
}

@media only screen and (max-width: 1279px) {
  .header {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    float: right;
    background-color: #21201f;
  }
  .header h2 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 !important;
    padding: 20px;
    color: #00a3d9;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
  }
}